<!doctype html>
<html ng-app="myApp">
<head>
    <title>Hello, World</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Hello, World</a>
        </div>
    </nav>
    <div class="container">
        <div ng-controller="ForceJson">
            <form ng-submit="doQuery()" role="form">
                <div class="form-group">
                    <input placeholder="SOQL Query" ng-model="query" class="form-control">
                </div>
                <div class="form-group">
                    <input placeholder="Auth Token" ng-model="authToken" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
            <pre ng-show="response"><code>{{response}}</code></pre>
        </div>
    </div>
</body>
</html>
